force-app/main/default/flows/Add_Beneficiary_to_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Find Object Type From Record ID.</description>
        <name>FindObjectTypeFromRecordID</name>
        <label>FindObjectTypeFromRecordID</label>
        <locationX>650</locationX>
        <locationY>205</locationY>
        <actionName>GetObjectType</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Which_Object_Type_is_it</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recId</name>
            <value>
                <elementReference>contextRecordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vObjectType</assignToReference>
            <name>objtype</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>getHouseholdIDfromAccount</name>
        <label>getHouseholdIDfromAccount</label>
        <locationX>687</locationX>
        <locationY>700</locationY>
        <actionName>FINS_Flow_GetAccountHouseholdId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getAccountList</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recId</name>
            <value>
                <elementReference>contextRecordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vHouseHoldID</assignToReference>
            <name>HouseholdId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AddtoList</name>
        <label>AddtoList</label>
        <locationX>1162</locationX>
        <locationY>567</locationY>
        <assignmentItems>
            <assignToReference>BeneficiaryAccountList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getContactName.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThrough</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignContextId</name>
        <label>assignContextId</label>
        <locationX>390</locationX>
        <locationY>120</locationY>
        <assignmentItems>
            <assignToReference>contextRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>if_RecordId_is_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFinancialAccountNames</name>
        <label>AssignFinancialAccountNames</label>
        <locationX>435</locationX>
        <locationY>489</locationY>
        <assignmentItems>
            <assignToReference>vFinancialAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopFinancialAccounts.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopFinancialAccounts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>if_RecordId_is_Null</name>
        <label>if RecordId is Null</label>
        <locationX>451</locationX>
        <locationY>36</locationY>
        <defaultConnector>
            <targetReference>FindObjectTypeFromRecordID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Select_Your_Record</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Object_Type_is_it</name>
        <label>Which Object Type is it?</label>
        <locationX>440</locationX>
        <locationY>207</locationY>
        <defaultConnector>
            <targetReference>SelectAnAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isAccount</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Person Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFinancialAccounts</targetReference>
            </connector>
            <label>isAccount</label>
        </rules>
    </decisions>
    <description>Retail Banking Primary | Add Beneficiary to Financial Account</description>
    <dynamicChoiceSets>
        <name>FinancialAccount</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__PrimaryOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contextRecordId</elementReference>
            </value>
        </filters>
        <object>FinServ__FinancialAccount__c</object>
        <outputAssignments>
            <assignToReference>vSelectedFinancialAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Add Beneficiary to Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Beneficiary to Account</label>
    <loops>
        <name>LoopFinancialAccounts</name>
        <label>LoopFinancialAccounts</label>
        <locationX>175</locationX>
        <locationY>489</locationY>
        <collectionReference>getFinancialAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignFinancialAccountNames</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Beneficiary_to_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopThrough</name>
        <label>loopThrough</label>
        <locationX>979</locationX>
        <locationY>466</locationY>
        <collectionReference>getAccountList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getContactName</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Choose_your_Beneficiary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccountList</name>
        <label>getAccountContactList</label>
        <locationX>642</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopThrough</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__PrimaryGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vHouseHoldID</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>getStartingAccountContactId.PersonContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContactName</name>
        <label>getContactName</label>
        <locationX>1162</locationX>
        <locationY>400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddtoList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopThrough.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFinancialAccounts</name>
        <label>getFinancialAccounts</label>
        <locationX>174</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopFinancialAccounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__PrimaryOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contextRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FinServ__FinancialAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStartingAccountContactId</name>
        <label>getStartingAccountContactId</label>
        <locationX>441</locationX>
        <locationY>706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getHouseholdIDfromAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contextRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_Beneficiary_to_Account</name>
        <label>Add Beneficiary to Account</label>
        <locationX>177</locationX>
        <locationY>705</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getStartingAccountContactId</targetReference>
        </connector>
        <fields>
            <name>FinancialAccountList</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>vFinancialAccounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>vFinancialAccounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Select a Financial Account</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_your_Beneficiary</name>
        <label>Choose your Beneficiary</label>
        <locationX>980</locationX>
        <locationY>712</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Successfully_Added_Beneficiary</targetReference>
        </connector>
        <fields>
            <name>Existing</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Choose from an Existing Account&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BeneficiarySelection</name>
            <extensionName>runtime_industries_lending:flowPickArray</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>BeneficiaryAccountList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>BeneficiaryAccountList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Who would you like to add as a beneficiary?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>addnew</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Add a New Account&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Your_Record</name>
        <label>Select Your Record</label>
        <locationX>719</locationX>
        <locationY>28</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FindObjectTypeFromRecordID</targetReference>
        </connector>
        <fields>
            <name>contactSearch</name>
            <extensionName>c:ContactSearch</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contextRecordId</assignToReference>
                <name>ContactId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>spacer2</name>
            <fieldText>&lt;p&gt;Selct an Account&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectAnAccount</name>
        <label>SelectAnAccount</label>
        <locationX>556</locationX>
        <locationY>395</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getFinancialAccounts</targetReference>
        </connector>
        <fields>
            <name>AccountOwnerSelection</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Select an Account Owner&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>accountSelect</name>
            <extensionName>c:ContactSearch</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contextRecordId</assignToReference>
                <name>ContactId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>spacer1</name>
            <fieldText>&lt;p&gt;Select an Account&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Successfully_Added_Beneficiary</name>
        <label>Successfully Added Beneficiary!</label>
        <locationX>980</locationX>
        <locationY>894</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>success</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!BeneficiarySelection.selectedValue}&lt;/b&gt; has been added as a beneficiary to the Financial Account &lt;b&gt;{!FinancialAccount}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>81</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>assignContextId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BeneficiaryAccountList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contextRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>vFinancialAccounts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vHouseHoldID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedFinancialAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vSelectedFinancialAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
