force-app/main/default/flows/Card_Activation_Package_Clone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>This flow is a clone of the Activate Card flow template from FSC package.</description>
    <dynamicChoiceSets>
        <name>FinancialAccountsList</name>
        <dataType>String</dataType>
        <displayField>FinServ__FinancialAccountNumber__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__PrimaryOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>FinServ__FinancialAccount__c</object>
        <outputAssignments>
            <assignToReference>FinancialAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>FinServ__FinancialAccountNumber__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Card Activation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activate Card (FSC)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetContactId</name>
        <label>Get Contact Id</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActivateCard</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>ActivateCard</name>
        <label>Activate Card</label>
        <locationX>601</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <fields>
            <name>Account_Number</name>
            <choiceReferences>FinancialAccountsList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Number</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmationScreen</name>
        <label>Confirmation Screen</label>
        <locationX>1147</locationX>
        <locationY>41</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Summary</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Summary&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationText</name>
            <fieldText>Case Number: {!CaseNumber}
{!CaseDescription}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>385</locationX>
        <locationY>222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;An unexpected error occurred. Your Salesforce admin can help with that.{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetContactId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>801</locationX>
        <locationY>172</locationY>
        <connector>
            <targetReference>ConfirmationScreen</targetReference>
        </connector>
        <flowName>Subflow_Case_Creation</flowName>
        <inputAssignments>
            <name>CaseDescription</name>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStatus</name>
            <value>
                <elementReference>CaseStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseSubject</name>
            <value>
                <stringValue>Activate Card</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseId</assignToReference>
            <name>CaseId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNumber</assignToReference>
            <name>CaseNumber</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>CreateServiceRequest</name>
        <label>Create Service Request</label>
        <locationX>579</locationX>
        <locationY>243</locationY>
        <flowName>FinServFlowsExt__Subflow_Create_a_Service_Request</flowName>
        <inputAssignments>
            <name>CaseDescription</name>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStatus</name>
            <value>
                <elementReference>CaseStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseId</assignToReference>
            <name>CaseId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNumber</assignToReference>
            <name>CaseNumber</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>CaseDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Service Flow Name: Activate Card
Account Number: {!Account_Number}</text>
    </textTemplates>
    <textTemplates>
        <name>Payload</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{
&quot;FlowName&quot;:&quot;Activate Card&quot;,
&quot;ServiceRequestNumber&quot;:&quot;{!CaseNumber}&quot;,
&quot;ServiceRequestId&quot;:&quot;{!CaseId}&quot;,
&quot;AccountId&quot;:&quot;{!recordId}&quot;,
&quot;FinancialAccountNumber&quot;:&quot;{!Account_Number}&quot;
}</text>
    </textTemplates>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinancialAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
