force-app/main/default/flows/FINS_Loan_Refinance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Create_Stages</name>
        <label>Create Stages</label>
        <locationX>227</locationX>
        <locationY>56</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Loan_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Loan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Confirmation2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Final_Confirmation2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetStage2</name>
        <label>SetStage2</label>
        <locationX>450</locationX>
        <locationY>244</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Loan_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loan_Options</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetStage3</name>
        <label>SetStage3</label>
        <locationX>625</locationX>
        <locationY>359</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Loan</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Options</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetStage4</name>
        <label>SetStage4</label>
        <locationX>862</locationX>
        <locationY>462</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirmation2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetStage5</name>
        <label>SetStage5</label>
        <locationX>1022</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Confirmation2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Confirmation</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Option1</name>
        <choiceText>3.750% Refinance. APR 4.229%. Monthly Payment $1,760, Upfront Cost: $0 (Points 0)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Option2</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;3.375% Refinance. APR 4.164%. Monthly Payment $1,680, Upfront Cost: $3,116 (Points 0.82)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Option3</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;3.000% Refinance. APR 4.117%. Monthly Payment $1,602, Upfront Cost: $7,71 (Points 1,861)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>x10year</name>
        <choiceText>10 Year</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>x15year</name>
        <choiceText>15 Year</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>x20year</name>
        <choiceText>20 Year</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>x30year</name>
        <choiceText>30 Year</choiceText>
        <dataType>String</dataType>
    </choices>
    <description>Flow to capture information related to a loan refinance</description>
    <dynamicChoiceSets>
        <name>vrcLoanList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__PrimaryOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loan Account</stringValue>
            </value>
        </filters>
        <object>FinServ__FinancialAccount__c</object>
        <outputAssignments>
            <assignToReference>vSelectedLoan</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Loan Refinance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan Refinance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Loan_Information</name>
        <label>Get Loan Information</label>
        <locationX>296</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetStage2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSelectedLoan</elementReference>
            </value>
        </filters>
        <object>FinServ__FinancialAccount__c</object>
        <outputAssignments>
            <assignToReference>vLoanBalance</assignToReference>
            <field>FinServ__Balance__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLoanAmount</assignToReference>
            <field>FinServ__LoanAmount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLoanDate</assignToReference>
            <field>FinServ__OpenDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLoanName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Account_Selection</name>
        <label>Account Selection</label>
        <locationX>145</locationX>
        <locationY>197</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Loan_Information</targetReference>
        </connector>
        <fields>
            <name>Stage1</name>
            <extensionName>c:FINS_FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Which_loan_are_you_looking_to_refinance</name>
            <choiceReferences>vrcLoanList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which loan are you looking to refinance?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>866</locationX>
        <locationY>631</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetStage5</targetReference>
        </connector>
        <fields>
            <name>Stage4</name>
            <extensionName>c:FINS_FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayText3</name>
            <fieldText>&lt;p&gt;For the refinance of your {!vLoanName} with a current balance of {!vLoanBalance} you have selected to replace it with a {!What_type_of_loan_are_you_looking_for} loan with the following details {!Loan_Offers}. Is that correct?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Confirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Confirmation</name>
        <label>Final Confirmation</label>
        <locationX>1030</locationX>
        <locationY>768</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Stage5</name>
            <extensionName>c:FINS_FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayText4</name>
            <fieldText>&lt;p&gt;I thank you for your time today. You will receive an email requesting documentation on your current loan as well as last paystub, W2 and a few other documents.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Loan_Options</name>
        <label>Loan Options</label>
        <locationX>504</locationX>
        <locationY>378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetStage3</targetReference>
        </connector>
        <fields>
            <name>Stage2</name>
            <extensionName>c:FINS_FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;Here&apos;s your current loan information&lt;/p&gt;&lt;p&gt;Loan Name: {!vLoanName}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Original Amount: {!vLoanAmount}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Current Balance: {!vLoanBalance}&lt;/p&gt;&lt;p&gt;Date: {!vLoanDate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_type_of_loan_are_you_looking_for</name>
            <choiceReferences>x30year</choiceReferences>
            <choiceReferences>x20year</choiceReferences>
            <choiceReferences>x15year</choiceReferences>
            <choiceReferences>x10year</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What type of loan are you looking for?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Options</name>
        <label>Show Options</label>
        <locationX>694</locationX>
        <locationY>487</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetStage4</targetReference>
        </connector>
        <fields>
            <name>Stage3</name>
            <extensionName>c:FINS_FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayText2</name>
            <fieldText>&lt;p&gt;Based on your selection of a {!What_type_of_loan_are_you_looking_for} loan we are pleased to offer these types of loans. Which one are you interested in?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Loan_Offers</name>
            <choiceReferences>Option1</choiceReferences>
            <choiceReferences>Option2</choiceReferences>
            <choiceReferences>Option3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Loan Offers</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Confirmation2</name>
        <isActive>false</isActive>
        <label>Confirmation</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Final_Confirmation2</name>
        <isActive>false</isActive>
        <label>Final Confirmation</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>Select_Account</name>
        <isActive>false</isActive>
        <label>Select Account</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Select_Loan</name>
        <isActive>false</isActive>
        <label>Select Loan</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Select_Loan_Type</name>
        <isActive>false</isActive>
        <label>Select Loan Type</label>
        <stageOrder>2</stageOrder>
    </stages>
    <startElementReference>Create_Stages</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLoanAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vLoanBalance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vLoanDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLoanName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrcAllLoans</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <name>vSelectedLoan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
