force-app/main/default/flows/FINS_Commercial_Banking_TM_Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>The flow will perform meaningful tasks depending on the stage of the Opportunity</description>
        <name>Check_Stage</name>
        <label>Check Stage</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agreed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agreed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_Plan_Template</targetReference>
            </connector>
            <label>Agreed</label>
        </rules>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Top_Level_Record_Type</targetReference>
            </connector>
            <label>Closed/Won</label>
        </rules>
    </decisions>
    <description>Record triggered flow on Goldfinch Bicycles which creates one parent case and three child cases to represent the TM onboarding process.</description>
    <environments>Default</environments>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>Commercial Banking Treasury Management Onboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Commercial Banking Treasury Management Onboarding</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a child case for setting up business internet</description>
        <name>Create_Child_Case_1</name>
        <label>Create Child Case 1</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Create_Child_Case_2</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>BusinessOperatingHoursId_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>TreasuryManagementEntitlementID_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>ParentCaseRecordId_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeID_TM_Child_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Base Services</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Goldfinch Bicycles - Setup Business Internet Banking</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a child case for setting up ACH Services</description>
        <name>Create_Child_Case_2</name>
        <label>Create Child Case 2</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Create_Child_Case_3</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>BusinessOperatingHoursId_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>TreasuryManagementEntitlementID_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>ParentCaseRecordId_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeID_TM_Child_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Base Services</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Goldfinch Bicycles - Setup ACH Origination Services</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a child case for setting up Remote Deposit Capture</description>
        <name>Create_Child_Case_3</name>
        <label>Create Child Case 3</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>BusinessOperatingHoursId_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>TreasuryManagementEntitlementID_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>ParentCaseRecordId_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeID_TM_Child_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Base Services</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Goldfinch Bicycles - Setup Remote Deposit Capture</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Parent_Case</name>
        <label>Create Parent Case</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <assignRecordIdToReference>ParentCaseRecordId_var</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Child_Case_1</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>BusinessOperatingHoursId_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>TreasuryManagementEntitlementID_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeId_TM_Parent_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Client Info</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Top Level Case for Goldfinch Bicycles</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Industries_Action_Plan</name>
        <label>Industries Action Plan</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>ActionPlanTemplateVersionId</field>
            <value>
                <elementReference>ActionPlanTemplateVersionId_TreasuryManagement_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionPlanType</field>
            <value>
                <stringValue>Industries</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Account Onboarding Action Plan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ActionPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Retrieve the Treasury Onboarding action plan template ID</description>
        <name>Action_Plan_Template</name>
        <label>Action Plan Template</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Action_Plan_Template_Version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Treasury Onboarding</stringValue>
            </value>
        </filters>
        <object>ActionPlanTemplate</object>
        <outputAssignments>
            <assignToReference>ActionPlanTemplateId_TreasuryManagement_var</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Retrieve the Treasury Management action plan template version Id</description>
        <name>Action_Plan_Template_Version</name>
        <label>Action Plan Template Version</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Industries_Action_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionPlanTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActionPlanTemplateId_TreasuryManagement_var</elementReference>
            </value>
        </filters>
        <object>ActionPlanTemplateVersion</object>
        <outputAssignments>
            <assignToReference>ActionPlanTemplateVersionId_TreasuryManagement_var</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the Operating Business Hours ID for the 24/7 follow the sun unit</description>
        <name>Business_Hours</name>
        <label>Business Hours</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TM_Entitlements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>24/7 Follow-The-Sun Service</stringValue>
            </value>
        </filters>
        <object>BusinessHours</object>
        <outputAssignments>
            <assignToReference>BusinessOperatingHoursId_var</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the child level case record type ID for the Commercial Banking Treasury Management demo</description>
        <name>Child_Level_Record_Type</name>
        <label>Child Level Record Type</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Business_Hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FINS_Commercial_Banking_Treasury_Management_Child</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>CaseRecordTypeID_TM_Child_var</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Retrieve the Treasury Management entilements</description>
        <name>TM_Entitlements</name>
        <label>TM Entitlements</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Parent_Case</targetReference>
        </connector>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>TreasuryManagementEntitlementID_var</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the parent level case record type ID for the Commercial Banking Treasury Management demo</description>
        <name>Top_Level_Record_Type</name>
        <label>Top Level Record Type</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Child_Level_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FINS_Commercial_Banking_Treasury_Management_Parent</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>CaseRecordTypeId_TM_Parent_var</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Stage</targetReference>
        </connector>
        <filterLogic>((1 OR 2) AND 3) OR (2 AND 4)</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Goldfinch Bicycles</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Goldfinch Bicycles - Treasury Management</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agreed</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ActionPlanTemplateId_TreasuryManagement_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActionPlanTemplateVersionId_TreasuryManagement_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BusinessOperatingHoursId_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseRecordTypeID_TM_Child_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores 1 of 2 Case Record Type IDs used in the Comercial Banking Treasury Management demo</description>
        <name>CaseRecordTypeId_TM_Parent_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record Id of the parent case that is inserted</description>
        <name>ParentCaseRecordId_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TreasuryManagementEntitlementID_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
