force-app/main/default/flows/INS_P_C_Document_Upload.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Stage_2</name>
        <label>Set Stage 2</label>
        <locationX>844</locationX>
        <locationY>109</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Verification</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Document_Verification2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_3</name>
        <label>Set Stage 3</label>
        <locationX>1073</locationX>
        <locationY>116</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirmation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stages</name>
        <label>Set Stages</label>
        <locationX>602</locationX>
        <locationY>102</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Document_Selection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Document_Verification</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Confirmation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Selection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Document_Selection2</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CarRentalInvoice</name>
        <choiceText>Car Rental Invoice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Car Rental Invoice</stringValue>
        </value>
    </choices>
    <choices>
        <name>CopyofDriversLicense</name>
        <choiceText>Copy of Driver’s License</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Copy of Driver’s License</stringValue>
        </value>
    </choices>
    <choices>
        <name>CopyofID</name>
        <choiceText>Copy of ID</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Copy of ID </stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>RepairEstimates</name>
        <choiceText>Repair Estimates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Repair Estimates</stringValue>
        </value>
    </choices>
    <choices>
        <name>RepairInvoice</name>
        <choiceText>Repair Invoice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Repair Invoice</stringValue>
        </value>
    </choices>
    <choices>
        <name>VehiclePhotoEvidence</name>
        <choiceText>Vehicle Photo Evidence</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vehicle Photo Evidence</stringValue>
        </value>
    </choices>
    <description>INS P&amp;C Document Upload for P&amp;C service story line</description>
    <dynamicChoiceSets>
        <name>PolicyList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NameInsuredId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <object>InsurancePolicy</object>
        <outputAssignments>
            <assignToReference>vSelectedPolicyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>VerifiedDate</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>INS P&amp;C Document Upload {!$Flow.CurrentDateTime}</interviewLabel>
    <label>INS P&amp;C Document Upload</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact_Info</name>
        <label>Get Contact Info</label>
        <locationX>390</locationX>
        <locationY>91</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Name_of_Agent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>vAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCaseOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Name_of_Agent</name>
        <label>Name of Agent</label>
        <locationX>375</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Stages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseOwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>vCaseOwnerFullName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Status</name>
        <label>Update Case Status</label>
        <locationX>1076</locationX>
        <locationY>299</locationY>
        <connector>
            <targetReference>Set_Stage_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Confirmation3</name>
        <label>Confirmation</label>
        <locationX>1303</locationX>
        <locationY>116</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation2</name>
            <extensionName>c:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FinalScript</name>
            <extensionName>agentScript:agentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>We have added your documents to your file.  Thank you!</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Document_Selection2</name>
        <label>Document Selection</label>
        <locationX>602</locationX>
        <locationY>293</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Stage_2</targetReference>
        </connector>
        <fields>
            <name>DocumentSelect</name>
            <extensionName>c:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Policy_Name</name>
            <choiceReferences>PolicyList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Policy Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Douments</name>
            <choiceReferences>CopyofDriversLicense</choiceReferences>
            <choiceReferences>CopyofID</choiceReferences>
            <choiceReferences>VehiclePhotoEvidence</choiceReferences>
            <choiceReferences>RepairEstimates</choiceReferences>
            <choiceReferences>RepairInvoice</choiceReferences>
            <choiceReferences>CarRentalInvoice</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Douments</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Document_Verification2</name>
        <label>Document Verification</label>
        <locationX>820</locationX>
        <locationY>305</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case_Status</targetReference>
        </connector>
        <fields>
            <name>DocumentVerification</name>
            <extensionName>c:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UploadFiles</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Upload Files</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NameofAgent</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vCaseOwnerFullName</elementReference>
            </defaultValue>
            <fieldText>Name of Agent</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Verified_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>VerifiedDate</elementReference>
            </defaultValue>
            <fieldText>Verified Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Confirmation</name>
        <isActive>false</isActive>
        <label>Confirmation</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>Document_Selection</name>
        <isActive>false</isActive>
        <label>Document Selection</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Document_Verification</name>
        <isActive>false</isActive>
        <label>Document Verification</label>
        <stageOrder>20</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Contact_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestVariablePolicyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>5005w00001a6SwOAAU</stringValue>
        </value>
    </variables>
    <variables>
        <name>vAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCaseOwnerFullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCaseOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDocId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDocIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedPolicyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
