force-app/main/default/flows/Legal_Name_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Update_Feed</name>
        <label>Update Feed</label>
        <locationX>973</locationX>
        <locationY>414</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>FeedUpdate</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vFeedItemID</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_recordId_to_AccountId</name>
        <label>Assign recordId to AccountId</label>
        <locationX>372</locationX>
        <locationY>625</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCaseAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initial_Info_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_recordId_to_Contactid</name>
        <label>Assign recordId to Contactid</label>
        <locationX>374</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCaseContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initial_Info_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Account_is_Person_Account</name>
        <label>Check if Account is Person Account</label>
        <locationX>389</locationX>
        <locationY>73</locationY>
        <defaultConnector>
            <targetReference>Unsupported_Object_Type_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Company</defaultConnectorLabel>
        <rules>
            <name>Account_is_Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vIsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initial_Info_Screen</targetReference>
            </connector>
            <label>Account is Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Case_Contact_is_Person_Account</name>
        <label>Check if Case Contact is Person Account</label>
        <locationX>181</locationX>
        <locationY>501</locationY>
        <defaultConnector>
            <targetReference>Lookup_Person_Account_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Person Account</defaultConnectorLabel>
        <rules>
            <name>Is_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vIsCaseContactPersonAccount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_recordId_to_Contactid</targetReference>
            </connector>
            <label>Is Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Object_Type</name>
        <label>Check Object Type</label>
        <locationX>177</locationX>
        <locationY>190</locationY>
        <defaultConnector>
            <targetReference>Unsupported_Object_Type_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unsupported Object</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Lookup</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Lookup</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Lookup</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Info_Object_Type_Decision</name>
        <label>Customer Info Object Type Decision</label>
        <locationX>982</locationX>
        <locationY>194</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AccountUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Person_Account</targetReference>
            </connector>
            <label>AccountUpdate</label>
        </rules>
        <rules>
            <name>ContactUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>ContactUpdate</label>
        </rules>
    </decisions>
    <description>This Flow prompts for and changes the name of the Contact or Person Account, it also requires upload of documentation (pdf, jpg, png) and it updates the Feed for the record after the change. Can be launched from Contact, Person Account or Case records.</description>
    <dynamicChoiceSets>
        <name>Salutation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>FeedUpdate</name>
        <dataType>String</dataType>
        <expression>&quot;The name on this Contact or Person Account record was updated using a Flow. The original name was &quot; &amp; {!vFormerSalutation} &amp; &quot; &quot; &amp; {!vFirstName} &amp; &quot; &quot; &amp; {!vFormerLastName} &amp; &quot;. The new name is &quot; &amp; {!New_Salutation} &amp; &quot; &quot; &amp; {!New_First_Name} &amp; &quot; &quot; &amp; {!New_Last_Name}</expression>
    </formulas>
    <interviewLabel>Legal Name Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Legal Name Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Account_Lookup</name>
        <label>Account Lookup</label>
        <locationX>388</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Account_is_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vIsPersonAccount</assignToReference>
            <field>IsPersonAccount</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vFormerLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMailingCity</assignToReference>
            <field>PersonMailingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMailingCountry</assignToReference>
            <field>PersonMailingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMailingPostal</assignToReference>
            <field>PersonMailingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMailingState</assignToReference>
            <field>PersonMailingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMailingStreet</assignToReference>
            <field>PersonMailingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vFormerSalutation</assignToReference>
            <field>Salutation</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Case_Lookup</name>
        <label>Case Lookup</label>
        <locationX>180</locationX>
        <locationY>305</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Contact_Info_for_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>vCaseAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCaseContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Contact_Lookup</name>
        <label>Contact Lookup</label>
        <locationX>385</locationX>
        <locationY>299</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initial_Info_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vFormerLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMailingCity</assignToReference>
            <field>MailingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMailingCountry</assignToReference>
            <field>MailingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMailingPostal</assignToReference>
            <field>MailingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMailingState</assignToReference>
            <field>MailingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMailingStreet</assignToReference>
            <field>MailingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vFormerSalutation</assignToReference>
            <field>Salutation</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Contact_Info_for_Case</name>
        <label>Find Contact Info for Case</label>
        <locationX>181</locationX>
        <locationY>403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Case_Contact_is_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vIsCaseContactPersonAccount</assignToReference>
            <field>IsPersonAccount</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vFormerLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMailingCity</assignToReference>
            <field>MailingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMailingCountry</assignToReference>
            <field>MailingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMailingPostal</assignToReference>
            <field>MailingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMailingState</assignToReference>
            <field>MailingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMailingStreet</assignToReference>
            <field>MailingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vFormerSalutation</assignToReference>
            <field>Salutation</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Person_Account_Information</name>
        <label>Lookup Person Account Information</label>
        <locationX>184</locationX>
        <locationY>621</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_recordId_to_AccountId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vFormerLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMailingCity</assignToReference>
            <field>PersonMailingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMailingCountry</assignToReference>
            <field>PersonMailingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMailingPostal</assignToReference>
            <field>PersonMailingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMailingState</assignToReference>
            <field>PersonMailingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMailingStreet</assignToReference>
            <field>PersonMailingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vFormerSalutation</assignToReference>
            <field>Salutation</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1070</locationX>
        <locationY>317</locationY>
        <connector>
            <targetReference>Update_Feed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>New_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>New_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>New_Salutation</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Person_Account</name>
        <label>Update Person Account</label>
        <locationX>874</locationX>
        <locationY>316</locationY>
        <connector>
            <targetReference>Update_Feed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>New_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>New_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>New_Salutation</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>932</locationX>
        <locationY>77</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Customer_Info_Object_Type_Decision</targetReference>
        </connector>
        <fields>
            <name>veacsd</name>
            <fieldText>You have requested that the name on the account will be changed to the following:

{!New_First_Name} {!New_Last_Name}

If this is not correct press Previous and make the changes.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Document_Upload_Screen</name>
        <label>Document Upload Screen</label>
        <locationX>785</locationX>
        <locationY>70</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>terdsx</name>
            <fieldText>Please upload the following files one by one:
- Copy or picture of Social Security Card with the new name
- Copy or picture of utility bill showing the new name
The following file extensions are allowed: .JPG and .PNG</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Empty00</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DocUploader</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg, .png, .pdf</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vRelatedRecordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>971</locationX>
        <locationY>514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>gfwds</name>
            <fieldText>Thank you for contacting us and letting us know your new name. This will take 24-48 hours to process. We will contact you if there are any questions.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>General_Info_Verification</name>
        <label>General Info Verification</label>
        <locationX>665</locationX>
        <locationY>311</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Name_Information_Input</targetReference>
        </connector>
        <fields>
            <name>vascd</name>
            <fieldText>Please provide the following information for verification.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Social_Security_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>123-45-6789</stringValue>
            </defaultValue>
            <fieldText>Social Security Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Street</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vMailingStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vMailingCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>State</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vMailingState</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Postal_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vMailingPostal</elementReference>
            </defaultValue>
            <fieldText>Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Country</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vMailingCountry</elementReference>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FormerNameText</name>
            <fieldText>Please provide the former name that this financial institution knows you under.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Former_Salutation</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vFormerSalutation</elementReference>
            </defaultValue>
            <fieldText>Salutation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Former_First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vFirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Former_Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vFormerLastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Initial_Info_Screen</name>
        <label>Initial Info Screen</label>
        <locationX>599</locationX>
        <locationY>183</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>General_Info_Verification</targetReference>
        </connector>
        <fields>
            <name>InitialMessage</name>
            <fieldText>Before we get started {!vFirstName} I have to inform you that in order for us to finalize the process of changing the name on your accounts you will need to provide the following information either electronically or in person at a branch or office.
- Social Security Card showing new name.
- Electrical or Gas Bill showing new name</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Name_Information_Input</name>
        <label>New Name Information Input</label>
        <locationX>795</locationX>
        <locationY>178</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Document_Upload_Screen</targetReference>
        </connector>
        <fields>
            <name>vrfcs</name>
            <fieldText>Please provide your new First Name, Middle Initial and Last Name. Please make sure to spell it out exactly as it is on your Social Security Card.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Salutation</name>
            <choiceReferences>Salutation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Salutation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unsupported_Object_Type_Message</name>
        <label>Unsupported Object Type Message</label>
        <locationX>180</locationX>
        <locationY>71</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UnsupportedObjectTypeDisplay</name>
            <fieldText>This is not a supported object type.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Check_Object_Type</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCaseAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCaseContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFeedItemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFormerLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFormerSalutation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vIsCaseContactPersonAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vIsPersonAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMailingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMailingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMailingPostal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMailingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMailingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRelatedRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUploadedFiles</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
