force-app/main/default/flows/Loan_Pre_Qualification_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>HeaderIconSLDS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>custom:custom18</stringValue>
        </value>
    </constants>
    <constants>
        <description>Used in Lightning Component for page header</description>
        <name>PageHeaderText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Loan Pre Qualification</stringValue>
        </value>
    </constants>
    <description>Create Draft Loan Application for to associate Flow Action</description>
    <dynamicChoiceSets>
        <name>OccupancyType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Occupancy_Type__c</picklistField>
        <picklistObject>FINS_Lending_Loan_Application__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OwnershipType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Loan_Ownership__c</picklistField>
        <picklistObject>FINS_Lending_Loan_Application__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PurchaseOrRefinance</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Purchase_or_Refinance__c</picklistField>
        <picklistObject>FINS_Lending_Loan_Application__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>getContactAccountId</name>
        <dataType>String</dataType>
        <expression>{!$User.Account_Id_Formula__c}</expression>
    </formulas>
    <formulas>
        <name>getCurrentContactId</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <interviewLabel>Loan Pre-Qualification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan Pre-Qualification</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Draft_Loan_Application</name>
        <label>Create Draft Loan Application</label>
        <locationX>187</locationX>
        <locationY>252</locationY>
        <assignRecordIdToReference>LoanAppilciationID</assignRecordIdToReference>
        <connector>
            <targetReference>Personal_Information_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Application_Phase__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Realtor__c</field>
            <value>
                <elementReference>getCurrentContactId</elementReference>
            </value>
        </inputAssignments>
        <object>FINS_Lending_Loan_Application__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Loan_Application</name>
        <label>Create Loan Application</label>
        <locationX>830</locationX>
        <locationY>361</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>getContactAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Annual_Income__c</field>
            <value>
                <elementReference>Annual_Income</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application_Phase__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deposit_Down_Payment__c</field>
            <value>
                <elementReference>Down_Payment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Ownership__c</field>
            <value>
                <elementReference>OwnershipType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Debt_Obligations__c</field>
            <value>
                <elementReference>Monthly_Debt_Obligations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupancy_Type__c</field>
            <value>
                <elementReference>OccupancyType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_or_Refinance__c</field>
            <value>
                <elementReference>PurchaseOrRefinance</elementReference>
            </value>
        </inputAssignments>
        <object>FINS_Lending_Loan_Application__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Loan_Application</name>
        <label>Update Loan Application</label>
        <locationX>1122</locationX>
        <locationY>239</locationY>
        <connector>
            <targetReference>Complete_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanAppilciationID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>getContactAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Annual_Income__c</field>
            <value>
                <elementReference>Annual_Income</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application_Phase__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deposit_Down_Payment__c</field>
            <value>
                <elementReference>Down_Payment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Ownership__c</field>
            <value>
                <elementReference>OwnershipType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Debt_Obligations__c</field>
            <value>
                <elementReference>Monthly_Debt_Obligations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupancy_Type__c</field>
            <value>
                <elementReference>OccupancyType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_or_Refinance__c</field>
            <value>
                <elementReference>PurchaseOrRefinance</elementReference>
            </value>
        </inputAssignments>
        <object>FINS_Lending_Loan_Application__c</object>
    </recordUpdates>
    <screens>
        <name>Complete_Screen</name>
        <label>Complete Screen</label>
        <locationX>1126</locationX>
        <locationY>390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Header_Complete</name>
            <extensionName>c:IDS_ConfigurableHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>PageHeaderText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Your application is complete</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ThankYou</name>
            <fieldText>Thank you for completing the apllication. A Cumulus Loan Officer will contact you shortly.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_Details</name>
        <label>Confirm Details</label>
        <locationX>1126</locationX>
        <locationY>91</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Loan_Application</targetReference>
        </connector>
        <fields>
            <name>Header_ConfimDetails</name>
            <extensionName>c:IDS_ConfigurableHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>HeaderIconSLDS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>PageHeaderText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Confim these details are correct</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ConfirmTitle</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Summary&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Summary_Personal</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Name:&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; {!First_Name} {!Last_Name}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Email:&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; &lt;FONT KERNING=&quot;1&quot;&gt;{!Email_Address}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;DOB:&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; {!Date_of_Birth}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Tel:&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt; {!Phone_Number}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SummarySeperator</name>
            <fieldText>_______________________________________</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LoanSummary</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Loan Summary&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LoanSummaryDetails</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Mortgage Type&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;: &lt;FONT KERNING=&quot;1&quot;&gt;{!PurchaseOrRefinance}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Occupancy Type&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;: {!OccupancyType}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Ownership Type&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;: {!OwnershipType}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Annual Income&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;: &lt;FONT KERNING=&quot;1&quot;&gt;{!Annual_Income}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Monthly Obligations&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;: &lt;FONT KERNING=&quot;1&quot;&gt;{!Monthly_Debt_Obligations}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Down Payment&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;: &lt;FONT KERNING=&quot;1&quot;&gt;{!Down_Payment}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StageConfirm</name>
            <extensionName>c:FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Confirm</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Financial_Information_Screen</name>
        <label>Financial Information Screen</label>
        <locationX>611</locationX>
        <locationY>90</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Occupancy_Type_Screen</targetReference>
        </connector>
        <fields>
            <name>Header_FinancialInfo</name>
            <extensionName>c:IDS_ConfigurableHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>PageHeaderText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Financial Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>HeaderIconSLDS</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Annual_Income</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>250000.0</numberValue>
            </defaultValue>
            <fieldText>Annual Income</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Monthly_Debt_Obligations</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>12000.0</numberValue>
            </defaultValue>
            <fieldText>Monthly Debt Obligations</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Down_Payment</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>25000.0</numberValue>
            </defaultValue>
            <fieldText>Down Payment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>StageFinancialInfo</name>
            <extensionName>c:FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Financial_Info</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Mortgage_Screen</name>
        <label>New Mortgage Screen</label>
        <locationX>444</locationX>
        <locationY>91</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Financial_Information_Screen</targetReference>
        </connector>
        <fields>
            <name>Header_NewMortgage</name>
            <extensionName>c:IDS_ConfigurableHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>HeaderIconSLDS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>PageHeaderText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Is this a new mortgage</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_this_for_a_new_mortgage</name>
            <choiceReferences>PurchaseOrRefinance</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this for a new mortgage?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>StageType</name>
            <extensionName>c:FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Mortgage_Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Occupancy_Type_Screen</name>
        <label>Occupancy Type Screen</label>
        <locationX>788</locationX>
        <locationY>91</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Ownership_Type_Screen</targetReference>
        </connector>
        <fields>
            <name>Header_OccupancyType</name>
            <extensionName>c:IDS_ConfigurableHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>HeaderIconSLDS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>PageHeaderText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Mortgage Occupancy Type</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_kind_of_mortgage_are_you_interested_in</name>
            <choiceReferences>OccupancyType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What kind of mortgage are you interested in?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>StageOptions1</name>
            <extensionName>c:FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Mortgage_Options</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ownership_Type_Screen</name>
        <label>Ownership Type Screen</label>
        <locationX>960</locationX>
        <locationY>91</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirm_Details</targetReference>
        </connector>
        <fields>
            <name>Header_OwnershipType</name>
            <extensionName>c:IDS_ConfigurableHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>HeaderIconSLDS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>PageHeaderText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Who is the mortgage for</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Who_is_this_mortgage_for</name>
            <choiceReferences>OwnershipType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who is this mortgage for?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>StageOptions2</name>
            <extensionName>c:FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Mortgage_Options_2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Personal_Information_Screen</name>
        <label>Personal Information Screen</label>
        <locationX>265</locationX>
        <locationY>87</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Mortgage_Screen</targetReference>
        </connector>
        <fields>
            <name>Heading_PersonalInfo</name>
            <extensionName>c:IDS_ConfigurableHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>HeaderIconSLDS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>PageHeaderText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Personal Information</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Personal_Info_Title</name>
            <fieldText>Can you provide the following information?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Richard</stringValue>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Bennett</stringValue>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>rbennett@gmail.com</stringValue>
            </defaultValue>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_of_Birth</name>
            <dataType>Date</dataType>
            <defaultValue>
                <dateValue>1974-07-04</dateValue>
            </defaultValue>
            <fieldText>Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone_Number</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Phone_Number</elementReference>
            </defaultValue>
            <fieldText>Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>StagePersonalInfo</name>
            <extensionName>c:FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Personal_Info</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Start_Pre_Qualification</name>
        <label>Start Pre Qualification</label>
        <locationX>77</locationX>
        <locationY>89</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Draft_Loan_Application</targetReference>
        </connector>
        <fields>
            <name>StartScreenHeader</name>
            <extensionName>c:IDS_ConfigurableHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>PageHeaderText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <stringValue>Click next to begin</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Confirm</name>
        <isActive>true</isActive>
        <label>Confirm</label>
        <stageOrder>6</stageOrder>
    </stages>
    <stages>
        <name>Financial_Info</name>
        <isActive>true</isActive>
        <label>Financial Info</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Mortgage_Options</name>
        <isActive>true</isActive>
        <label>Mortgage Options</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Mortgage_Options_2</name>
        <isActive>true</isActive>
        <label>Mortgage Options 2</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>Mortgage_Type</name>
        <isActive>true</isActive>
        <label>Mortgage Type</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Personal_Info</name>
        <isActive>true</isActive>
        <label>Personal Info</label>
        <stageOrder>1</stageOrder>
    </stages>
    <startElementReference>Start_Pre_Qualification</startElementReference>
    <status>Active</status>
    <variables>
        <name>Annual_Income_Value</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Down_Payment_Value</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LoanAppilciationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Monthly_Debt_Obligation_Value</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NewMortage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
