force-app/main/default/flows/Loan_Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>US1</name>
        <label>US1</label>
        <locationX>604</locationX>
        <locationY>292</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>US2</name>
        <label>US2</label>
        <locationX>612</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ownership_Interest_Information</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TheLead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TheLead.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TheLead.Broker_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Broker_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TheLead.States_Licensed_in__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>List_of_state_s_where_applicant_is_licensed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>US3</name>
        <label>US3</label>
        <locationX>612</locationX>
        <locationY>692</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Vendor_Information</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TheLead.Ownership_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ownership_Percentage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TheLead.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TheLead.Tax_ID_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tax_ID_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TheLead.Company_Net_Worth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Net_Worth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>US4</name>
        <label>US4</label>
        <locationX>612</locationX>
        <locationY>862</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requested_Loan_Product_Types</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TheLead.Mortgage_Business_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mortgage_Business_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TheLead.Owner_s__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TheLead.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TheLead.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TheLead.Zip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zip</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>US5</name>
        <label>US5</label>
        <locationX>600</locationX>
        <locationY>1006</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upload_Documents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TheLead.Type_of_Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Loan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TheLead.of_Loans__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>of_Loans</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TheLead.Funded_Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Funded_Volume</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>US6</name>
        <label>US6</label>
        <locationX>599</locationX>
        <locationY>1152</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Signature</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>US7</name>
        <label>US7</label>
        <locationX>597</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Completed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TheLead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approvals</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FUR1</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>P1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Loan__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>UserEmail</name>
        <dataType>String</dataType>
        <expression>{!$User.Email}</expression>
    </formulas>
    <formulas>
        <name>UserFirstName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>UserLastName</name>
        <dataType>String</dataType>
        <expression>{!$User.LastName}</expression>
    </formulas>
    <interviewLabel>Loan Onboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan Onboarding</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>LL1</name>
        <label>LL1</label>
        <locationX>609</locationX>
        <locationY>112</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserFirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserLastName</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>TheLead</outputReference>
        <queriedFields>Title</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Company</queriedFields>
        <queriedFields>Broker_ID__c</queriedFields>
        <queriedFields>States_Licensed_in__c</queriedFields>
        <queriedFields>Ownership_Percentage__c</queriedFields>
        <queriedFields>Website</queriedFields>
        <queriedFields>Tax_ID_Number__c</queriedFields>
        <queriedFields>Company_Net_Worth__c</queriedFields>
        <queriedFields>Mortgage_Business_Name__c</queriedFields>
        <queriedFields>Owner_s__c</queriedFields>
        <queriedFields>State__c</queriedFields>
        <queriedFields>City__c</queriedFields>
        <queriedFields>Zip__c</queriedFields>
        <queriedFields>Type_of_Loan__c</queriedFields>
        <queriedFields>of_Loans__c</queriedFields>
        <queriedFields>Funded_Volume__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>FUR1</name>
        <label>FUR1</label>
        <locationX>983</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>S8</targetReference>
        </connector>
        <inputReference>TheLead</inputReference>
    </recordUpdates>
    <screens>
        <name>S1</name>
        <label>S1</label>
        <locationX>803</locationX>
        <locationY>195</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>US1</targetReference>
        </connector>
        <fields>
            <name>H1</name>
            <extensionName>c:flowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:flow</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>D1</name>
            <fieldText>Hi {!UserFirstName} {!UserLastName},

We are please to welcome you to Cumulus Mortgage. We have made your onboarding process easy and seamless. Your onboarding process will consist of 5 steps. In order to complete the process, you will also need the following documents:

- IRS W-9 Form
- Balance Sheet and Profit/Loss Statement - dated with the last 90 dats
- Anti-Money Laundering Compliance Declaration
- Articles of Incorporation</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>F1</name>
            <extensionName>c:flowFooterWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S2</name>
        <label>S2</label>
        <locationX>807</locationX>
        <locationY>394</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>US2</targetReference>
        </connector>
        <fields>
            <name>H2</name>
            <extensionName>c:flowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:flow</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Loan_Officer_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>David Edwards</stringValue>
            </defaultValue>
            <fieldText>Loan Officer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>UserEmail</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Company_Name1</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>XYZ Mortgage Association</stringValue>
            </defaultValue>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Broker_ID</name>
            <dataType>String</dataType>
            <fieldText>Broker ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>List_of_state_s_where_applicant_is_licensed</name>
            <fieldText>List of state(s) where applicant is licensed</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>F2</name>
            <extensionName>c:flowFooterWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S3</name>
        <label>S3</label>
        <locationX>810</locationX>
        <locationY>598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>US3</targetReference>
        </connector>
        <fields>
            <name>H3</name>
            <extensionName>c:flowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:flow</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ownership_Percentage</name>
            <dataType>Number</dataType>
            <fieldText>Ownership Percentage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Company_Website</name>
            <dataType>String</dataType>
            <fieldText>Company Website</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tax_ID_Number</name>
            <dataType>String</dataType>
            <fieldText>Tax ID Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Company_Net_Worth</name>
            <dataType>Currency</dataType>
            <fieldText>Company Net Worth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>F3</name>
            <extensionName>c:flowFooterWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S4</name>
        <label>S4</label>
        <locationX>809</locationX>
        <locationY>776</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>US4</targetReference>
        </connector>
        <fields>
            <name>H4</name>
            <extensionName>c:flowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:flow</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mortgage_Business_Name</name>
            <dataType>String</dataType>
            <fieldText>Mortgage Business Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Owner_s</name>
            <dataType>String</dataType>
            <fieldText>Owner(s)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>State</name>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Zip</name>
            <dataType>String</dataType>
            <fieldText>Zip</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>F4</name>
            <extensionName>c:flowFooterWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S5</name>
        <label>S5</label>
        <locationX>806</locationX>
        <locationY>939</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>US5</targetReference>
        </connector>
        <fields>
            <name>H5</name>
            <extensionName>c:flowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:flow</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type_of_Loan</name>
            <choiceReferences>P1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Loan</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>of_Loans</name>
            <dataType>Number</dataType>
            <fieldText># of Loans</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Funded_Volume</name>
            <dataType>Currency</dataType>
            <fieldText>Funded Volume</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>F5</name>
            <extensionName>c:flowFooterWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S6</name>
        <label>S6</label>
        <locationX>805</locationX>
        <locationY>1074</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>US6</targetReference>
        </connector>
        <fields>
            <name>H6</name>
            <extensionName>c:flowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:flow</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FUN1</name>
            <extensionName>c:CS_FileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>IRS W-9 Form</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>TheLead.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FUN2</name>
            <extensionName>c:CS_FileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Anti-Money Laundering &amp; Bank Secrecy Act Compliance Declaration</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>TheLead.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FUN3</name>
            <extensionName>c:CS_FileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Balance Sheet and Profit &amp; Loss Statement (dated within the last 90 days)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>TheLead.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FUN4</name>
            <extensionName>c:CS_FileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Articles of Incorporation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>TheLead.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FUN5</name>
            <extensionName>c:CS_FileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Other Documents</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>TheLead.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>F6</name>
            <extensionName>c:flowFooterWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S7</name>
        <label>S7</label>
        <locationX>807</locationX>
        <locationY>1226</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>US7</targetReference>
        </connector>
        <fields>
            <name>H7</name>
            <extensionName>c:flowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:flow</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LCESIG1</name>
            <extensionName>c:DE_SignatureCapture</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>TheLead.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>F7</name>
            <extensionName>c:flowFooterWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S8</name>
        <label>S8</label>
        <locationX>808</locationX>
        <locationY>1363</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>H8</name>
            <extensionName>c:flowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:flow</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FINT</name>
            <fieldText>Thank you! Your application has been successfully submitted. Your team at Cumulus Mortgage is excited to begin ths journey with you and if you have any questions, please feel free to contact us.

You can also check the status of your application by clicking below.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>F8</name>
            <extensionName>c:flowFooterWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navToId</name>
                <value>
                    <elementReference>TheLead.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Company_Information</name>
        <isActive>true</isActive>
        <label>Company Information</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Completed</name>
        <isActive>true</isActive>
        <label>Completed</label>
        <stageOrder>8</stageOrder>
    </stages>
    <stages>
        <name>Current_Vendor_Information</name>
        <isActive>true</isActive>
        <label>Current Vendor Information</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Onboarding</name>
        <isActive>true</isActive>
        <label>Onboarding</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Ownership_Interest_Information</name>
        <isActive>true</isActive>
        <label>Ownership Interest Information</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Requested_Loan_Product_Types</name>
        <isActive>true</isActive>
        <label>Requested Loan Product Types</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>Signature</name>
        <isActive>true</isActive>
        <label>Signature</label>
        <stageOrder>7</stageOrder>
    </stages>
    <stages>
        <name>Upload_Documents</name>
        <isActive>true</isActive>
        <label>Upload Documents</label>
        <stageOrder>6</stageOrder>
    </stages>
    <startElementReference>LL1</startElementReference>
    <status>Active</status>
    <variables>
        <name>TheLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
