force-app/main/default/flows/Lost_Card_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Acct_Variables</name>
        <label>Acct Variables</label>
        <locationX>309</locationX>
        <locationY>519</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Variables.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Variables.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lost_or_Stolen_Current_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Variables</name>
        <label>Case Variables</label>
        <locationX>430</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Variables.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Variables.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lost_or_Stolen_Current_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Choose_Card_Current_Stage</name>
        <label>Choose Card = Current Stage</label>
        <locationX>80</locationX>
        <locationY>235</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choose_Card</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Card</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Confirm_Current_Stage</name>
        <label>Confirm = Current Stage</label>
        <locationX>564</locationX>
        <locationY>161</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Happened</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Variables</name>
        <label>Contact Variables</label>
        <locationX>195</locationX>
        <locationY>524</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Variables.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Variables.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lost_or_Stolen_Current_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lost_or_Stolen_Current_Stage</name>
        <label>Lost or Stolen = Current Stage</label>
        <locationX>309</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lost_or_Stolen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>missing_credit_card</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Ally_CashBack</name>
        <choiceText>Ally CashBack</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Ally_Personal_Platinum</name>
        <choiceText>Ally Personal Platinum</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>can_t_find_it_right_now</name>
        <choiceText>...missing right now - I can&apos;t find it</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DEFMissing</stringValue>
        </value>
    </choices>
    <choices>
        <name>definitelylost</name>
        <choiceText>...definitely lost or stolen</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>defLOST</stringValue>
        </value>
    </choices>
    <choices>
        <name>definitelystolen</name>
        <choiceText>...defintely stolen</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>defSTOLEN</stringValue>
        </value>
    </choices>
    <choices>
        <name>Guatemalan_Highland_Coffee</name>
        <choiceText>Guatemalan Highland Coffee</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Java_Espresso</name>
        <choiceText>Java Espresso</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sumatra_Dark_Espresso</name>
        <choiceText>Sumatra Dark Espresso</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>United_Explorer_Card</name>
        <choiceText>United Explorer Card</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X10_pounds</name>
        <choiceText>10 pounds</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X1_pound</name>
        <choiceText>1 pound</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X25_pounds_crate</name>
        <choiceText>25 pounds (crate)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X5_pounds</name>
        <choiceText>5 pounds</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Origin</name>
        <label>Check Origin</label>
        <locationX>292</locationX>
        <locationY>958</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Variables</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Variables</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Variables</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Happened</name>
        <label>What Happened</label>
        <locationX>671</locationX>
        <locationY>54</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Just_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>what_happened_to_your_card</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>can_t_find_it_right_now</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>pause_your_card</targetReference>
            </connector>
            <label>Just Missing</label>
        </rules>
        <rules>
            <name>Definitely_Lost_Or_Stolen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>what_happened_to_your_card</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>definitelylost</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_you_sure</targetReference>
            </connector>
            <label>Definitely Lost Or Stolen</label>
        </rules>
    </decisions>
    <description>v20 - pd: Add decision element so can run from case, contact or account.</description>
    <environments>Default</environments>
    <formulas>
        <name>getCurrentContactId</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <interviewLabel>Lost Card Report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lost Card Report</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lost_Card_Case</name>
        <label>Create Lost Card Case</label>
        <locationX>975</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Set_Paused_Card_Flag_on_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Card is missing, customer requested to put the card on hold.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varLostCardRecTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Lost - on hold</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Lost Card Reported</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Account Support</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Order_Replacement_Card</name>
        <label>Order Replacement Card</label>
        <locationX>690</locationX>
        <locationY>453</locationY>
        <connector>
            <targetReference>New_Card_Ordered</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Customer&apos;s card was reported lost or stolen.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varLostCardRecTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Replacement ordered</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Card Requested</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Account Support</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Variables</name>
        <label>Get Account Variables</label>
        <locationX>312</locationX>
        <locationY>661</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Acct_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Variables</name>
        <label>Get Case Variables</label>
        <locationX>429</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Variables</name>
        <label>Get Contact Variables</label>
        <locationX>189</locationX>
        <locationY>658</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lost_Card_RecordType</name>
        <label>Get Lost Card RecordType</label>
        <locationX>81</locationX>
        <locationY>741</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Origin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FINS_Retail_Lost_Stolen_Card</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varLostCardRecTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Paused_Card_Flag_on_Account</name>
        <label>Set Paused Card Flag on Account</label>
        <locationX>973</locationX>
        <locationY>206</locationY>
        <connector>
            <targetReference>Your_Card_Is_Paused_Until</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Paused_Card__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Are_you_sure</name>
        <label>Are you sure?</label>
        <locationX>689</locationX>
        <locationY>304</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Order_Replacement_Card</targetReference>
        </connector>
        <fields>
            <name>Stage_ConfirmLost</name>
            <extensionName>c:FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>sManuallSetCurrentStage</assignToReference>
                <name>currentStage</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Order_a_replacement</name>
            <fieldText>Are you sure you want to cancel your card and order a replacement?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>missing_credit_card</name>
        <label>Missing Credit Card?</label>
        <locationX>449</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirm_Current_Stage</targetReference>
        </connector>
        <fields>
            <name>Stage_LostStolen</name>
            <extensionName>c:FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>sManuallSetCurrentStage</assignToReference>
                <name>currentStage</name>
            </outputParameters>
        </fields>
        <fields>
            <name>what_happened_to_your_card</name>
            <choiceReferences>definitelylost</choiceReferences>
            <choiceReferences>can_t_find_it_right_now</choiceReferences>
            <dataType>String</dataType>
            <fieldText>My Card Is</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Card_Ordered</name>
        <label>New Card Ordered</label>
        <locationX>690</locationX>
        <locationY>647</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PageTitleComplete</name>
            <fieldText>All set. Your Card has been cancelled.

A new replacement card has been ordered for you.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>pause_your_card</name>
        <label>Pause Your Card</label>
        <locationX>820</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Lost_Card_Case</targetReference>
        </connector>
        <fields>
            <name>Stage_ConfirmMissing</name>
            <extensionName>c:FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>sManuallSetCurrentStage</assignToReference>
                <name>currentStage</name>
            </outputParameters>
        </fields>
        <fields>
            <name>We_will_pause_your_card_until</name>
            <dataType>Date</dataType>
            <fieldText>Pause  card until...</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contact_me_before_unpausing</name>
            <dataType>Boolean</dataType>
            <fieldText>Contact me before unpausing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Which_Card</name>
        <label>Which Card</label>
        <locationX>80</locationX>
        <locationY>425</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Lost_Card_RecordType</targetReference>
        </connector>
        <fields>
            <name>Stage_ChooseCard</name>
            <extensionName>c:FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>sManuallSetCurrentStage</assignToReference>
                <name>currentStage</name>
            </outputParameters>
        </fields>
        <fields>
            <name>whichismissing</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Which Card is Missing?&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CC_LC</name>
            <extensionName>c:CC_Component</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Your_Card_Is_Paused_Until</name>
        <label>Your Card Is Paused Until</label>
        <locationX>972</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>until</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;We&amp;apos;ve paused your card until &lt;/B&gt;&lt;FONT COLOR=&quot;#0000FF&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!We_will_pause_your_card_until}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Check out this helpful video on handling identity theft:&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Choose_Card</name>
        <isActive>true</isActive>
        <label>Choose Card</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Confirm</name>
        <isActive>true</isActive>
        <label>Confirm</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Lost_or_Stolen</name>
        <isActive>true</isActive>
        <label>Lost or Stolen</label>
        <stageOrder>2</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Choose_Card_Current_Stage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CardLost</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>lost</stringValue>
        </value>
    </variables>
    <variables>
        <name>CardMissing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>missing</stringValue>
        </value>
    </variables>
    <variables>
        <name>CardStolen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>stolen</stringValue>
        </value>
    </variables>
    <variables>
        <description>AccountId passed in to provide context of the record launching the flow</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Testing to see if I can fix the issue</description>
        <name>retURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>.</stringValue>
        </value>
    </variables>
    <variables>
        <name>sManuallSetCurrentStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLostCardRecTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
