force-app/main/default/flows/Order_Checks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Reassign_RecordId</name>
        <label>Reassign RecordId</label>
        <locationX>430</locationX>
        <locationY>164</locationY>
        <assignmentItems>
            <assignToReference>vAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Mailing_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Initial_Stages</name>
        <label>Set Initial Stages</label>
        <locationX>278</locationX>
        <locationY>594</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_Type2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Validate_Address2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Amount_Shipping</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Special_OfferStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Confirm_Order_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Final_Confirmation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Type2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StageDefConfirmOrder</name>
        <label>StageDefConfirmOrder</label>
        <locationX>950</locationX>
        <locationY>178</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirm_Order_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stages</name>
        <label>StagesValidateAddress</label>
        <locationX>568</locationX>
        <locationY>590</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Address2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StagesAmountShipping</name>
        <label>StagesAmountShipping</label>
        <locationX>626</locationX>
        <locationY>262</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_Shipping</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_and_Shipping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StagesDefSpecialOffer</name>
        <label>StagesDefSpecialOffer</label>
        <locationX>797</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Special_OfferStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Special_Offer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StagesFinal</name>
        <label>StagesFinal</label>
        <locationX>1233</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Confirmation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Thank_you</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Ground</name>
        <choiceText>Ground Shipping (free)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ground Shipping (free)</stringValue>
        </value>
    </choices>
    <choices>
        <name>HawaiiCheck</name>
        <choiceText>{!CheckHawaii}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HawaiiCheck</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoCustomerNotInterestedSpecialCC</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Overnight</name>
        <choiceText>Overnight ($29.99)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Overnight ($29.99)</stringValue>
        </value>
    </choices>
    <choices>
        <name>SpecialCheck</name>
        <choiceText>{!CheckSpecial}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SpecialCheck</stringValue>
        </value>
    </choices>
    <choices>
        <name>TwoBusinessDay</name>
        <choiceText>2-Business Day Shipping ($9.99)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2-Business Day Shipping ($9.99)</stringValue>
        </value>
    </choices>
    <choices>
        <name>x10books</name>
        <choiceText>10 Books ($159.95)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10 Books ($159.95)</stringValue>
        </value>
    </choices>
    <choices>
        <name>x1Book</name>
        <choiceText>1 Book ($19.95)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 Book ($19.95)</stringValue>
        </value>
    </choices>
    <choices>
        <name>x5Book</name>
        <choiceText>5 Books ($79.95)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5 Books ($79.95)</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesCustomerInterestSpecialCC</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>CheckHawaii</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/CheckHawaii&apos; /&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>CheckSpecial</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/CheckSpecial&apos; /&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>SpecialOffer</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/SpecialOffer&apos; /&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Object_Type</name>
        <label>Check Object Type</label>
        <locationX>215</locationX>
        <locationY>227</locationY>
        <defaultConnector>
            <targetReference>Unsupported_Object_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unsupported Object</defaultConnectorLabel>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AccountID</targetReference>
            </connector>
            <label>Case</label>
        </rules>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reassign_RecordId</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSpecialCheck</name>
        <label>Check Special Check</label>
        <locationX>788</locationX>
        <locationY>21</locationY>
        <defaultConnector>
            <targetReference>StageDefConfirmOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Regular Checks Ordered</defaultConnectorLabel>
        <rules>
            <name>Special_Check_Ordered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckTypeSelector</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SpecialCheck</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StagesDefSpecialOffer</targetReference>
            </connector>
            <label>Special Check Ordered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Interested_in_CC</name>
        <label>Customer Interested in CC</label>
        <locationX>843</locationX>
        <locationY>545</locationY>
        <defaultConnector>
            <targetReference>StageDefConfirmOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_customer_interested</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>CheckTypeSelected</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!CheckTypeSelector}, &quot;Special&quot;), &quot;Special Check&quot;, &quot;Hawaii Check&quot;)</expression>
    </formulas>
    <formulas>
        <name>fCaseDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Name: &quot; &amp; {!vFirstName} &amp; &quot; &quot; &amp; {!vLastName} &amp; &quot; Address: &quot; &amp; {!vStreet} &amp; &quot;, &quot; &amp; {!vCity} &amp; &quot; &quot; &amp; {!vState} &amp; &quot; &quot; &amp; {!vPostal} &amp;&quot;, &quot; &amp; {!vCountry} &amp;  &quot; Amount Ordered: &quot; &amp; {!Number_of_books} &amp; &quot; Shipping Method: &quot; &amp; {!Shipping_Options} &amp; &quot; Type Ordered: &quot; &amp; {!CheckTypeSelected}</expression>
    </formulas>
    <formulas>
        <name>fCurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Order Checks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Checks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>1290</locationX>
        <locationY>96</locationY>
        <connector>
            <targetReference>StagesFinal</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>fCaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Check Order</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>1079</locationX>
        <locationY>541</locationY>
        <connector>
            <targetReference>StageDefConfirmOrder</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Customer interested in special credit card offer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>vEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__ExpressedInterest__c</field>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__ReferredByUser__c</field>
            <value>
                <elementReference>fCurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__RelatedAccount__c</field>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>vFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>vLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>vTitle</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Get_AccountID</name>
        <label>Get AccountID</label>
        <locationX>209</locationX>
        <locationY>392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Mailing_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>vAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Mailing_Address</name>
        <label>Get Mailing Address</label>
        <locationX>448</locationX>
        <locationY>352</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Initial_Stages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vContactId</assignToReference>
            <field>PersonContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vEmail</assignToReference>
            <field>PersonEmail</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCity</assignToReference>
            <field>PersonMailingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCountry</assignToReference>
            <field>PersonMailingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vPostal</assignToReference>
            <field>PersonMailingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vState</assignToReference>
            <field>PersonMailingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vStreet</assignToReference>
            <field>PersonMailingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vTitle</assignToReference>
            <field>PersonTitle</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Amount_and_Shipping</name>
        <label>Amount and Shipping</label>
        <locationX>595</locationX>
        <locationY>66</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckSpecialCheck</targetReference>
        </connector>
        <fields>
            <name>StagesShipping</name>
            <extensionName>c:FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>textTitleQuantity</name>
            <fieldText>How many books of checks would you like to order?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Number_of_books</name>
            <choiceReferences>x1Book</choiceReferences>
            <choiceReferences>x5Book</choiceReferences>
            <choiceReferences>x10books</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>x5Book</defaultSelectedChoiceReference>
            <fieldText>Number of books</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>textTitleShipping</name>
            <fieldText>How fast would you like to receive your checks?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Shipping_Options</name>
            <choiceReferences>Ground</choiceReferences>
            <choiceReferences>TwoBusinessDay</choiceReferences>
            <choiceReferences>Overnight</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Ground</defaultSelectedChoiceReference>
            <fieldText>Shipping Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Check_Type</name>
        <label>Check Type</label>
        <locationX>434</locationX>
        <locationY>663</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stages</targetReference>
        </connector>
        <fields>
            <name>StagesCheckType</name>
            <extensionName>c:FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ChecktypeText</name>
            <fieldText>What type of check would you like to order?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CheckTypeSelector</name>
            <choiceReferences>SpecialCheck</choiceReferences>
            <choiceReferences>HawaiiCheck</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>SpecialCheck</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Order</name>
        <label>Confirm Order</label>
        <locationX>1130</locationX>
        <locationY>262</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <fields>
            <name>StagesConfirmOrder</name>
            <extensionName>c:FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ConfirmOrderText</name>
            <fieldText>Based on your selections the following order will be processed:

Check Type Ordered: {!CheckTypeSelected}
Name: {!vFirstName} {!vLastName}
Address: {!vStreet}, {!vCity} {!vState} {!vPostal}, {!vCountry}

Amount of checks ordered: {!Number_of_books}
Shipping Method: {!Shipping_Options}

When you press Next the order will be processed.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Special_Offer</name>
        <label>Special Offer</label>
        <locationX>754</locationX>
        <locationY>454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Interested_in_CC</targetReference>
        </connector>
        <fields>
            <name>StagesSpecialOffer</name>
            <extensionName>c:FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ShowOffer</name>
            <fieldText>{!SpecialOffer}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_customer_interested</name>
            <choiceReferences>YesCustomerInterestSpecialCC</choiceReferences>
            <choiceReferences>NoCustomerNotInterestedSpecialCC</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>YesCustomerInterestSpecialCC</defaultSelectedChoiceReference>
            <fieldText>Is customer interested?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_you</name>
        <label>Thank you</label>
        <locationX>1408</locationX>
        <locationY>426</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>StagesThankYou</name>
            <extensionName>c:FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayThankYou</name>
            <fieldText>Your check order is complete. We will send an email when they ship that will let you know when to expect their arrival.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unsupported_Object_Type</name>
        <label>Unsupported Object Type</label>
        <locationX>217</locationX>
        <locationY>53</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UnsupportedTxt</name>
            <fieldText>Unsupported object type. Please run from either Person Account or Case.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validate_Address</name>
        <label>Validate Address</label>
        <locationX>627</locationX>
        <locationY>411</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>StagesAmountShipping</targetReference>
        </connector>
        <fields>
            <name>StagesVerifyAddress</name>
            <extensionName>c:FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CurrentAddressInput</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>vCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>vCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Current Address on file</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>vPostal</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>vState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>vStreet</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AddressChanges</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Was any changes made?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Amount_Shipping</name>
        <isActive>false</isActive>
        <label>Amount &amp; Shipping</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>Check_Type2</name>
        <isActive>false</isActive>
        <label>Check Type</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Confirm_Order_Stage</name>
        <isActive>false</isActive>
        <label>Confirm Order</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>Final_Confirmation</name>
        <isActive>false</isActive>
        <label>Final Confirmation</label>
        <stageOrder>50</stageOrder>
    </stages>
    <stages>
        <name>Special_OfferStage</name>
        <isActive>false</isActive>
        <label>Special Offer</label>
        <stageOrder>35</stageOrder>
    </stages>
    <stages>
        <name>Validate_Address2</name>
        <isActive>false</isActive>
        <label>Validate Address</label>
        <stageOrder>20</stageOrder>
    </stages>
    <startElementReference>Check_Object_Type</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPostal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
