force-app/main/default/flows/Phone_Number_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_recordId_to_AccountId</name>
        <label>Assign recordId to AccountId</label>
        <locationX>372</locationX>
        <locationY>625</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCaseAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initial_Info_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_recordId_to_Contactid</name>
        <label>Assign recordId to Contactid</label>
        <locationX>374</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCaseContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initial_Info_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No_I_like_to_keep_these</name>
        <choiceText>No, I like to keep these</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_let_s_change_one_or_more</name>
        <choiceText>Yes, let&apos;s change one or more</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_Account_is_Person_Account</name>
        <label>Check if Account is Person Account</label>
        <locationX>389</locationX>
        <locationY>73</locationY>
        <defaultConnector>
            <targetReference>Unsupported_Object_Type_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Company</defaultConnectorLabel>
        <rules>
            <name>Account_is_Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vIsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initial_Info_Screen</targetReference>
            </connector>
            <label>Account is Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Case_Contact_is_Person_Account</name>
        <label>Check if Case Contact is Person Account</label>
        <locationX>181</locationX>
        <locationY>501</locationY>
        <defaultConnector>
            <targetReference>Lookup_Person_Account_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Person Account</defaultConnectorLabel>
        <rules>
            <name>Is_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vIsCaseContactPersonAccount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_recordId_to_Contactid</targetReference>
            </connector>
            <label>Is Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Object_Type</name>
        <label>Check Object Type</label>
        <locationX>177</locationX>
        <locationY>190</locationY>
        <defaultConnector>
            <targetReference>Unsupported_Object_Type_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unsupported Object</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Lookup</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Lookup</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Lookup</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object_Check_2</name>
        <label>Object Check 2</label>
        <locationX>777</locationX>
        <locationY>85</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Account2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Person_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Contact2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Number_Change_Decision</name>
        <label>Phone Number Change Decision</label>
        <locationX>778</locationX>
        <locationY>295</locationY>
        <defaultConnector>
            <targetReference>No_Change_Needed_Display</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_change_one_or_more_of_these</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_let_s_change_one_or_more</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_Number_Input</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Prompts for and changes Phone, Home and Mobile phone numbers. Intended to run from NBA or Action List in Service Console.</description>
    <interviewLabel>Phone Number Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Phone Number Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Account_Lookup</name>
        <label>Account Lookup</label>
        <locationX>388</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Account_is_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vIsPersonAccount</assignToReference>
            <field>IsPersonAccount</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOrgHomePhone</assignToReference>
            <field>PersonHomePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOrgMobilePhone</assignToReference>
            <field>PersonMobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOrgPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Case_Lookup</name>
        <label>Case Lookup</label>
        <locationX>180</locationX>
        <locationY>305</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Contact_Info_for_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>vCaseAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCaseContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Contact_Lookup</name>
        <label>Contact Lookup</label>
        <locationX>385</locationX>
        <locationY>299</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initial_Info_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOrgHomePhone</assignToReference>
            <field>HomePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOrgMobilePhone</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOrgPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Contact_Info_for_Case</name>
        <label>Find Contact Info for Case</label>
        <locationX>181</locationX>
        <locationY>403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Case_Contact_is_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOrgHomePhone</assignToReference>
            <field>HomePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vIsCaseContactPersonAccount</assignToReference>
            <field>IsPersonAccount</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOrgMobilePhone</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOrgPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Person_Account_Information</name>
        <label>Lookup Person Account Information</label>
        <locationX>184</locationX>
        <locationY>621</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_recordId_to_AccountId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOrgHomePhone</assignToReference>
            <field>PersonHomePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOrgMobilePhone</assignToReference>
            <field>PersonMobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOrgPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>985</locationX>
        <locationY>196</locationY>
        <connector>
            <targetReference>Final_Mesage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>Home_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Mobile_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Primary_Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Person_Account</name>
        <label>Update Person Account</label>
        <locationX>983</locationX>
        <locationY>82</locationY>
        <connector>
            <targetReference>Final_Mesage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonHomePhone</field>
            <value>
                <elementReference>Home_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>Mobile_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Primary_Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Final_Mesage</name>
        <label>Final Mesage</label>
        <locationX>1146</locationX>
        <locationY>142</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinalOutput</name>
            <fieldText>Thanks for letting us know you new phone number(s).</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Initial_Info_Screen</name>
        <label>Initial Info Screen</label>
        <locationX>620</locationX>
        <locationY>294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Phone_Number_Change_Decision</targetReference>
        </connector>
        <fields>
            <name>HelloWorld</name>
            <fieldText>{!vFirstName}, the current phone numbers we have on file for you is:

Primary Phone: {!vOrgPhone}
Home Phone: {!vOrgHomePhone}
Mobile Phone: {!vOrgMobilePhone}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Would_you_like_to_change_one_or_more_of_these</name>
            <choiceReferences>Yes_let_s_change_one_or_more</choiceReferences>
            <choiceReferences>No_I_like_to_keep_these</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to change one or more of these?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Change_Needed_Display</name>
        <label>No Change Needed Display</label>
        <locationX>779</locationX>
        <locationY>408</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoChangesNeeded</name>
            <fieldText>No changes have been made. Have a great day!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Phone_Number_Input</name>
        <label>Phone Number Input</label>
        <locationX>779</locationX>
        <locationY>193</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Object_Check_2</targetReference>
        </connector>
        <fields>
            <name>PhoneNumberInputDisplay</name>
            <fieldText>Please provide the updated phone numbers. Note, do not include special characters or formatting.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Primary_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vOrgPhone</elementReference>
            </defaultValue>
            <fieldText>Primary Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Home_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vOrgHomePhone</elementReference>
            </defaultValue>
            <fieldText>Home Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mobile_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vOrgMobilePhone</elementReference>
            </defaultValue>
            <fieldText>Mobile Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NumberInputConfirm</name>
            <fieldText>When you press Next the changes will be done in the system.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unsupported_Object_Type_Message</name>
        <label>Unsupported Object Type Message</label>
        <locationX>180</locationX>
        <locationY>71</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UnsupportedObjectTypeDisplay</name>
            <fieldText>This is not a supported object type.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Check_Object_Type</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCaseAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCaseContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vIsCaseContactPersonAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vIsPersonAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOrgHomePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOrgMobilePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOrgPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
