force-app/main/default/flows/Transaction_Dispute_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Case_Record_Collection_and_Reset_Variables</name>
        <label>Add to Case Record Collection and Reset Variables</label>
        <locationX>887</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>CaseRecordIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisplayText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempPayload</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Selected_Transactions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Status</name>
        <label>Assign Case Status</label>
        <locationX>727</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>CaseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Dispute_Reason</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Dispute_Reason</name>
        <label>Assign Dispute Reason</label>
        <locationX>998</locationX>
        <locationY>447</locationY>
        <assignmentItems>
            <assignToReference>CurrentOutputTransaction.FinServ__DisputeReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_Dispute</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOutputTransaction.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterator</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IteratorList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOutputTransaction.FinServ__IsDisputed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Dispute_Reason</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTransactionColumns</name>
        <label>AssignTransactionColumns</label>
        <locationX>531</locationX>
        <locationY>1199</locationY>
        <assignmentItems>
            <assignToReference>TransactionColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TransactionColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FinServ__Amount__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TransactionColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FinServ__TransactionDate__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Disputed_Transactions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Dispute_Reason</name>
        <label>Collect Dispute Reason</label>
        <locationX>912</locationX>
        <locationY>532</locationY>
        <assignmentItems>
            <assignToReference>CollectionofDisputeReasons</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentOutputTransaction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Transaction Description: {!IteratorOverTransactions.FinServ__Description__c}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TLineBreak</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Transaction Amount: {!IteratorOverTransactions.FinServ__Amount__c}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TLineBreak</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Reason for Dispute: {!Reason_for_Dispute}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Transactions</name>
        <label>Collect Transactions</label>
        <locationX>341</locationX>
        <locationY>1315</locationY>
        <assignmentItems>
            <assignToReference>TransactionIdCollector</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentTransaction.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Transactions_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Number_of_Disputed_Transactions</name>
        <label>Count Number of Disputed Transactions</label>
        <locationX>673</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NumberofRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>OutputListofTransactions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Number_of_Transactions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_a_List_of_Iterator_Ids</name>
        <label>Create a List of Iterator Ids</label>
        <locationX>693</locationX>
        <locationY>862</locationY>
        <assignmentItems>
            <assignToReference>IteratorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterator</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopVariableCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dispute_Reason</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Payload</name>
        <label>Create Payload</label>
        <locationX>885</locationX>
        <locationY>773</locationY>
        <assignmentItems>
            <assignToReference>TempPayload</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempPayload</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TLineBreak</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempPayload</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;TransactionId&quot;: &quot;{!Iterator}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempPayload</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TLineBreak</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempPayload</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;DisputeReason&quot;: &quot;{!Reason_for_Dispute}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempPayload</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TLineBreak</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempPayload</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;Case Status&quot;: &quot;{!CaseStatus}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempPayload</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TLineBreak</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempPayload</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;CaseId&quot;: &quot;{!CaseId}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempPayload</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TLineBreak</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempPayload</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;CaseNumber&quot;: &quot;{!CaseNumber}&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempPayload</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!TLineBreak}}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_Case_Gateway_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Confirmation_Text</name>
        <label>Generate Confirmation Text</label>
        <locationX>1337</locationX>
        <locationY>1024</locationY>
        <assignmentItems>
            <assignToReference>Confirmation_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Case Number: {!TempCaseRecord.CaseNumber}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Confirmation_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TLineBreak</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Confirmation_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempCaseRecord.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Confirmation_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TLineBreak</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Confirmation_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TLineBreak</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stages</name>
        <label>Set Stages</label>
        <locationX>228</locationX>
        <locationY>583</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Review_Transactions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Dispute_Reason2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Final_Review</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dispute_Transactions</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CLineBreak</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Current_Transaction_Id</name>
        <label>Check for Current Transaction Id</label>
        <locationX>687</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_Transactions_to_Get_the_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Transaction_ID_matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IteratorOverTransactions.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterator</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transaction_Amount_Compared_to_CSR_Threshold</targetReference>
            </connector>
            <label>Current Transaction ID matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Number_of_Transactions</name>
        <label>Check for Number of Transactions</label>
        <locationX>771</locationX>
        <locationY>1232</locationY>
        <defaultConnector>
            <targetReference>Iterate_over_Selected_Transactions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Number_of_Transactions_is_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberofRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>At_Least_One_Transaction_Should_be_Selected</targetReference>
            </connector>
            <label>Number of Transactions is Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>462</locationX>
        <locationY>73</locationY>
        <defaultConnector>
            <targetReference>Unsupported</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Supported</defaultConnectorLabel>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_from_Case</targetReference>
            </connector>
            <label>Case</label>
        </rules>
        <rules>
            <name>Chat_Session</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>570</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_from_LCT</targetReference>
            </connector>
            <label>Chat Session</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transaction_Amount_Compared_to_CSR_Threshold</name>
        <label>Transaction Amount Compared to CSR Threshold</label>
        <locationX>570</locationX>
        <locationY>461</locationY>
        <defaultConnector>
            <targetReference>Assign_Dispute_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Transaction_Amount_is_Greater_Than_Agent_Threshold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IteratorOverTransactions.FinServ__Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>AgentThreshold</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Status</targetReference>
            </connector>
            <label>Transaction Amount is Greater Than Agent Threshold</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transactions_List_is_Empty</name>
        <label>Transactions List is Empty</label>
        <locationX>446</locationX>
        <locationY>942</locationY>
        <defaultConnector>
            <targetReference>Get_Agent_Threshold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Transaction_List_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TransactionsList</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>No_Records_Found</targetReference>
            </connector>
            <label>Transaction List is Null</label>
        </rules>
    </decisions>
    <description>Agent workflow for transaction dispute from a case or chat transcript</description>
    <dynamicChoiceSets>
        <name>DisputeReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FinServ__DisputeReason__c</picklistField>
        <picklistObject>FinServ__FinancialAccountTransaction__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FinancialAccountsList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__PrimaryOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>FinServ__FinancialAccount__c</object>
        <outputAssignments>
            <assignToReference>SelectedFinancialAccount</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Transaction Dispute (Case) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transaction Dispute (Case)</label>
    <loops>
        <name>Get_Case_Records</name>
        <label>Get Case Records</label>
        <locationX>1155</locationX>
        <locationY>991</locationY>
        <assignNextValueToReference>CaseRecordIterator</assignNextValueToReference>
        <collectionReference>CaseRecordIdCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Case_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirmation_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_Selected_Transactions</name>
        <label>Iterate over Selected Transactions</label>
        <locationX>694</locationX>
        <locationY>982</locationY>
        <assignNextValueToReference>Iterator</assignNextValueToReference>
        <collectionReference>OutputListofTransactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_a_List_of_Iterator_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateTransactionRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Transactions_to_Get_the_Amount</name>
        <label>Iterate Over Transactions to Get the Amount</label>
        <locationX>693</locationX>
        <locationY>629</locationY>
        <assignNextValueToReference>IteratorOverTransactions</assignNextValueToReference>
        <collectionReference>TransactionsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Current_Transaction_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Current_Transaction_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Transactions_List</name>
        <label>Loop Over Transactions List</label>
        <locationX>341</locationX>
        <locationY>1199</locationY>
        <assignNextValueToReference>CurrentTransaction</assignNextValueToReference>
        <collectionReference>TransactionsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Transactions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssignTransactionColumns</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Agent_Threshold</name>
        <label>Get CSR Threshold</label>
        <locationX>241</locationX>
        <locationY>1000</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Transactions_List</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <object>FinServ__Transaction_Dispute_Approval_Limit__mdt</object>
        <outputAssignments>
            <assignToReference>AgentThreshold</assignToReference>
            <field>FinServ__AgentApprovalLimit__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Details</name>
        <label>Get Case Details</label>
        <locationX>1337</locationX>
        <locationY>865</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Confirmation_Text</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordIterator</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>TempCaseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_from_Case</name>
        <label>Get Contact from Case</label>
        <locationX>445</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_from_LCT</name>
        <label>Get Contact from LCT</label>
        <locationX>256</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Id</name>
        <label>Get Contact Id</label>
        <locationX>279</locationX>
        <locationY>406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Stages</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction_Records</name>
        <label>Get Transaction Records</label>
        <locationX>341</locationX>
        <locationY>871</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transactions_List_is_Empty</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__FinancialAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedFinancialAccount</elementReference>
            </value>
        </filters>
        <object>FinServ__FinancialAccountTransaction__c</object>
        <outputReference>TransactionsList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FinServ__TransactionDate__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FinServ__DisputeReason__c</queriedFields>
        <queriedFields>FinServ__Description__c</queriedFields>
        <queriedFields>FinServ__Amount__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTransactionRecords</name>
        <label>UpdateTransactionRecords</label>
        <locationX>928</locationX>
        <locationY>1137</locationY>
        <connector>
            <targetReference>Get_Case_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen2</targetReference>
        </faultConnector>
        <inputReference>CollectionofDisputeReasons</inputReference>
    </recordUpdates>
    <screens>
        <name>At_Least_One_Transaction_Should_be_Selected</name>
        <label>At Least One Transaction Should be Selected</label>
        <locationX>948</locationX>
        <locationY>1323</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Disputed_Transactions</targetReference>
        </connector>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Select at least one transaction.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1195</locationX>
        <locationY>1178</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>stage4</name>
            <extensionName>c:FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>script5</name>
            <extensionName>agentScript:agentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>I have now initiated the transaction dispute process. This is a process that we take very seriously at Cumulus Bank. You will receive a letter from us within the next couple of days, it is important that you review this letter, sign it and return it to us. Otherwise the money may not be refunded. For your reference the dispute record is {!Confirmation_Text}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dispute_Reason</name>
        <label>Dispute Reason</label>
        <locationX>693</locationX>
        <locationY>742</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Iterate_Over_Transactions_to_Get_the_Amount</targetReference>
        </connector>
        <fields>
            <name>stage3</name>
            <extensionName>c:FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>script3</name>
            <extensionName>agentScript:agentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>For the transaction below, please provide the reason why you don&apos;t believe you initiated or caused this transaction. </stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ShowSelectedTransaction</name>
            <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToQuery</name>
                <value>
                    <elementReference>TransactionColumns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputRecordIds</name>
                <value>
                    <elementReference>IteratorList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRowSelectable</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EmptyCollection</assignToReference>
                <name>selectedRecordIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Reason_for_Dispute</name>
            <choiceReferences>DisputeReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for Dispute</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>csrNote3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(82, 82, 82); font-size: 14px;&quot;&gt;Note to Customer Service Associate:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(82, 82, 82); font-size: 14px;&quot;&gt;For each of the transactions we need to understand why the customer is disputing the transaction.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(82, 82, 82); font-size: 14px;&quot;&gt;Duplicate Transaction:&lt;/b&gt;&lt;span style=&quot;color: rgb(82, 82, 82); font-size: 14px;&quot;&gt; Use this when the customer reports that it is a copy of an existing transaction.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(82, 82, 82); font-size: 14px;&quot;&gt;Transaction Not Recognized&lt;/b&gt;&lt;span style=&quot;color: rgb(82, 82, 82); font-size: 14px;&quot;&gt;: Use this when the customer doesn&apos;t recognize the transaction but believe it could be valid&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(82, 82, 82); font-size: 14px;&quot;&gt;Suspected Fraud&lt;/b&gt;&lt;span style=&quot;color: rgb(82, 82, 82); font-size: 14px;&quot;&gt;: Use this one if the customer reports that they have no knowledge of initiating this transaction.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(82, 82, 82); font-size: 14px;&quot;&gt;Other&lt;/b&gt;&lt;span style=&quot;color: rgb(82, 82, 82); font-size: 14px;&quot;&gt;: Only use this one if the customer provides a reason that doesn&apos;t fit within any of the previous reason codes.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dispute_Transactions</name>
        <label>Dispute Transactions</label>
        <locationX>279</locationX>
        <locationY>716</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Transaction_Records</targetReference>
        </connector>
        <fields>
            <name>Stage1</name>
            <extensionName>c:FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>script1</name>
            <extensionName>agentScript:agentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Thank you for taking the time to report these possible fraudulent transactions. At Cumulus Bank we take bank security very important and somebody will be reviewing this to make sure it doesn&apos;t happen again. Let me quickly get this entered into the system.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Account_Number</name>
            <choiceReferences>FinancialAccountsList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Number</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>csrNote2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(82, 82, 82);&quot;&gt;Note to Customer Service Associate:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(82, 82, 82);&quot;&gt;When customers call in about fraudulent transactions they are often concerned about the impact on their financial stability and/or their credit score. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(82, 82, 82);&quot;&gt;It is important that you calmly walk them through this interaction so we can get the information recorded. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(82, 82, 82);&quot;&gt;Avoid making any comments or statements about the validity of these claims as the Dispute Team will be reviewing it separately and discuss with the customer as needed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Disputed_Transactions</name>
        <label>Disputed Transactions</label>
        <locationX>601</locationX>
        <locationY>1339</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Count_Number_of_Disputed_Transactions</targetReference>
        </connector>
        <fields>
            <name>stage2</name>
            <extensionName>c:FlowLightningProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>script2</name>
            <extensionName>agentScript:agentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Let us start by reviewing the recent transactions on your account. </stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayTransactions</name>
            <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToQuery</name>
                <value>
                    <elementReference>TransactionColumns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputRecordIds</name>
                <value>
                    <elementReference>TransactionIdCollector</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRowSelectable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>OutputListofTransactions</assignToReference>
                <name>selectedRecordIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>CSRNote1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(82, 82, 82);&quot;&gt;Note to Customer Service Associate:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(82, 82, 82);&quot;&gt;Please walk the customer through these one by one. Avoid asking them questions that are &apos;too guided&apos; but let them evaluate and tell you whether the transaction is of their knowledge or not.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>505</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;An unexpected error occurred. Your Salesforce admin can help with that. {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen2</name>
        <label>Error Screen</label>
        <locationX>1384</locationX>
        <locationY>570</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(194, 57, 52);&quot;&gt;An unexpected error occurred. Your Salesforce admin can help with that. {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Records_Found</name>
        <label>No Records Found</label>
        <locationX>546</locationX>
        <locationY>938</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Dispute_Transactions</targetReference>
        </connector>
        <fields>
            <name>NoRecordsFound</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;The selected account has no transactions.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unsupported</name>
        <label>Unsupported</label>
        <locationX>687</locationX>
        <locationY>71</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dewds</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Only designed to work from Chat and Case&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Dispute_Reason2</name>
        <isActive>false</isActive>
        <label>Dispute Reason</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>Final_Review</name>
        <isActive>false</isActive>
        <label>Final Review</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>Review_Transactions</name>
        <isActive>false</isActive>
        <label>Review Transactions</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>Select_Account</name>
        <isActive>false</isActive>
        <label>Select Account</label>
        <stageOrder>10</stageOrder>
    </stages>
    <start>
        <locationX>34</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_a_Case_Gateway_Request</name>
        <label>Create a Case Gateway Request</label>
        <locationX>992</locationX>
        <locationY>851</locationY>
        <connector>
            <targetReference>Add_to_Case_Record_Collection_and_Reset_Variables</targetReference>
        </connector>
        <flowName>FinServFlowsExt__Subflow_Create_a_Case_Gateway_Request</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Payload</name>
            <value>
                <elementReference>Payload</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>1151</locationX>
        <locationY>541</locationY>
        <connector>
            <targetReference>Create_Payload</targetReference>
        </connector>
        <flowName>Subflow_Case_Creation</flowName>
        <inputAssignments>
            <name>CaseDescription</name>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStatus</name>
        </inputAssignments>
        <inputAssignments>
            <name>CaseSubject</name>
            <value>
                <stringValue>Transaction Dispute</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseId</assignToReference>
            <name>CaseId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNumber</assignToReference>
            <name>CaseNumber</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>CaseDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!DisplayText}</text>
    </textTemplates>
    <textTemplates>
        <name>Payload</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{
  &quot;FlowName&quot;: &quot;Dispute Transactions&quot;,
  &quot;AccountId&quot;: &quot;{!recordId}&quot;,
  &quot;FinancialAccountId&quot;: &quot;{!SelectedFinancialAccount}&quot;
  &quot;DisputedTransactions&quot;: [
       {!TempPayload}
]
}</text>
    </textTemplates>
    <textTemplates>
        <name>TLineBreak</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!CLineBreak}
{!CLineBreak}</text>
    </textTemplates>
    <variables>
        <name>AgentThreshold</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRecordIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecordIterator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </variables>
    <variables>
        <name>CollectionofDisputeReasons</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FinServ__FinancialAccountTransaction__c</objectType>
    </variables>
    <variables>
        <name>Confirmation_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentOutputTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FinServ__FinancialAccountTransaction__c</objectType>
    </variables>
    <variables>
        <name>CurrentTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FinServ__FinancialAccountTransaction__c</objectType>
    </variables>
    <variables>
        <name>DisplayText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmptyCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmptyList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GetUpdatedCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Iterator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IteratorList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IteratorOverTransactions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FinServ__FinancialAccountTransaction__c</objectType>
    </variables>
    <variables>
        <name>LookupChargesandFees</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FinServ__ChargesAndFees__c</objectType>
    </variables>
    <variables>
        <name>LoopVariableCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberofRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Which ObjectType did you fire this flow from?</description>
        <name>ObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutputListofTransactions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedFinancialAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TempCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>TempPayload</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TransactionColumns</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TransactionIdCollector</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TransactionsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FinServ__FinancialAccountTransaction__c</objectType>
    </variables>
</Flow>
